html,
body {
    background: url("http://science-all.com/images/wallpapers/background-pattern/background-pattern-6.jpg");
    background-size: 100%;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
    text-align: left;
}

.header h1 {
    margin: 0;
}

.form-group .form-control {
    width: 250px;
}

.row {
    display: inline-block;
}

.booksDisplay {
    width: 250px;
    color: red;
    border: 2px solid black;
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

.booksDisplay .me{
    color:black;
    font-size:18px;
    padding: 20px 10px 5px 10px;
}